      /* h1 {
      font-size: 30px;
      text-decoration: none;
      text-align: left;
      text-transform: uppercase;
      color: chocolate;
      background-color: #c7c7c7;
      margin: 15px;
      padding: 10px;
      width: 46%;
      a {
          text-decoration: none;
          font-size: 20px;
          font-weight: 200;
          background: black;
          color: white;
          transition: .5s all;
      }
      a:focus {
          color: black;
      }
      ul li {
          display: inline-block;
          margin-top: 15px;
          margin: 50px;
          margin-left: unset;
          border-radius: 30%;
      }
      ul li a {
          text-decoration: none;
          padding: 20px;
          background: #c7c7c7;
      }
      ul li a:hover {
          text-align: left;
          background: darkgreen;
          border-radius: 30%;
      } */